[Unit]
Description=SelimCam v2.0
After=multi-user.target
Wants=network.target

[Service]
Type=simple
User=pi
Group=pi
WorkingDirectory=/home/pi/selimcam2
Environment="PYTHONUNBUFFERED=1"
Environment="SDL_VIDEODRIVER=kmsdrm"
Environment="SDL_VIDEO_KMSDRM_ROTATION=0"
Environment="SDL_FBDEV_ROTATION=0"
Environment="SDL_TOUCH_MOUSE_EVENTS=1"
ExecStart=/bin/bash /home/pi/selimcam2/start_camera.sh
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target